/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #e9ecef;
  color: #333;
}

/* Links default style */
a {
  text-decoration: none;
  color: inherit;
}

/* Button default style */
button {
  font-family: inherit;
}
